body{
    background-color: rgb(165 165 165);
}

img{
    margin: auto;
    display: block;
    border-radius: 80px;
    margin-top: 50px;
}

.tituloPrincipal{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.tituloSecundario{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

.secaoEstilo{
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}
