*{
    background-color: cornflowerblue;
}

.quadrado {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: darkblue;
    transition: width 2s, height 4s;
    /* transition: width 2s ease-in-out, height 4s ease-in-out; */
  }
  
.quadrado:hover {
    width: 300px;
    height: 300px;
  }