.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.cursos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.curso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}