.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.item{
    background-color: #7d00dc;
    color: #FFF;
    padding: 20px;
}