*{
    box-sizing: border-box;
}

.box{
    width: 400px;
    height: 400px;
    border: dotted 5px rgba(0,0,0,0.7);
    margin: 10% auto;
    /*padding-top: 70px 0 0 120px; top right bottom left */
    padding: 70px 80px;/* top/bottom left/right */
}